@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
br[-none] {
  display: none;
}

@media screen and (max-width: 1000px) {
  br[-none-m],
  .-none-m {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  br[-none-d] {
    display: none;
  }
}

.-inline {
  margin: var(--typography-margin);
}

.-aa {
  text-transform: uppercase;
}

span {
  display: inline-block;
}

h1 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: calc(100px + 5vw);
  line-height: calc(100px + 4.5vw);
  letter-spacing: -2px;
}

h1 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}

h1 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h2 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: calc(50px + 5vw);
  line-height: calc(50px + 4.5vw);
  letter-spacing: -1px;
}

h2 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}

h2 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h3 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: calc(20px + 5vw);
  line-height: calc(20px + 4.5vw);
}

h3 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}

h3 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h4 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: calc(20px + 3vw);
  line-height: calc(20px + 2.5vw);
}

h4 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}

h4 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h5,
h6 {
  margin: var(--typography-margin);
  font-weight: 700;
  font-size: calc(10px + 1vw);
  line-height: calc(10px + 0.5vw);
}

h5 span.-outline,
h6 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}

h5 span.-outline.-dark,
h6 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

p,
a {
  margin: var(--typography-margin);
  font-size: calc(10px + .5vw);
}

.-left {
  text-align: left;
}

.-right {
  text-align: right;
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
          transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
          transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--tertiary);
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

@-webkit-keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  30% {
    -webkit-transform: translate(3%, -15%);
            transform: translate(3%, -15%);
  }
  50% {
    -webkit-transform: translate(12%, 9%);
            transform: translate(12%, 9%);
  }
  70% {
    -webkit-transform: translate(9%, 4%);
            transform: translate(9%, 4%);
  }
  90% {
    -webkit-transform: translate(-1%, 7%);
            transform: translate(-1%, 7%);
  }
}

@keyframes grain {
  0%,
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-5%, -10%);
            transform: translate(-5%, -10%);
  }
  30% {
    -webkit-transform: translate(3%, -15%);
            transform: translate(3%, -15%);
  }
  50% {
    -webkit-transform: translate(12%, 9%);
            transform: translate(12%, 9%);
  }
  70% {
    -webkit-transform: translate(9%, 4%);
            transform: translate(9%, 4%);
  }
  90% {
    -webkit-transform: translate(-1%, 7%);
            transform: translate(-1%, 7%);
  }
}

body[grain]::after {
  pointer-events: none;
  z-index: 10000;
  content: "";
  position: fixed;
  width: 300vw;
  height: 300vh;
  min-width: 2000px;
  min-height: 2000px;
  left: -100%;
  top: -50%;
  background-image: url(film.feb91601.png);
  opacity: .1;
  -webkit-animation: grain 0.2s steps(6) infinite;
          animation: grain 0.2s steps(6) infinite;
}

.-left-in,
.-top-in,
.-right-in,
.-bottom-in {
  -webkit-transition: 1s cubic-bezier(0.61, 0, 0, 0.99), opacity 0.4s;
  transition: 1s cubic-bezier(0.61, 0, 0, 0.99), opacity 0.4s;
  opacity: 0;
}

.-left-in {
  -webkit-transform: translateX(-200px);
          transform: translateX(-200px);
}

.-right-in {
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
}

.-top-in {
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
}

.-bottom-in {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

.menu-open .-left-in,
.menu-open .-top-in,
.menu-open .-right-in,
.menu-open .-bottom-in {
  -webkit-transition: 1s cubic-bezier(0.61, 0, 0, 0.99);
  transition: 1s cubic-bezier(0.61, 0, 0, 0.99);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  -webkit-transform: translateX(0) translateY(0);
          transform: translateX(0) translateY(0);
  opacity: 1;
}

.menu-open .c-nav {
  pointer-events: all !important;
}

.menu-open .c-nav_bg.-curtain .c-nav_bg_col {
  height: 100%;
}

.menu-open .c-nav_bg.-slide .c-nav_bg_col {
  height: 100%;
}

.menu-open .c-header_button_icon.-buger {
  height: 20px !important;
}

.menu-open .c-header_button_icon.-buger span {
  width: 0;
}

.menu-open .c-header_button_icon.-buger::before {
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-top: -10%;
  margin-left: -20%;
}

.menu-open .c-header_button_icon.-buger::after {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin-left: -20%;
}

.c-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  pointer-events: none;
}

.c-nav_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.c-nav_bg.-curtain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.c-nav_bg.-curtain .c-nav_bg_col {
  min-width: 300px;
  width: 25%;
  height: 0%;
  background-color: var(--secondary);
}

.c-nav_bg.-curtain .c-nav_bg_col:nth-child(1) {
  -webkit-transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.7s;
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.7s;
}

.c-nav_bg.-curtain .c-nav_bg_col:nth-child(2) {
  -webkit-transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.8s;
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.8s;
}

.c-nav_bg.-curtain .c-nav_bg_col:nth-child(3) {
  -webkit-transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.9s;
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.9s;
}

.c-nav_bg.-curtain .c-nav_bg_col:nth-child(4) {
  -webkit-transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 1s;
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 1s;
}

.c-nav_bg.-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-nav_bg.-slide .c-nav_bg_col {
  width: 100%;
  height: 0%;
  background-color: var(--secondary);
  -webkit-transition: 1s cubic-bezier(0.81, 0.01, 0.15, 0.99);
  transition: 1s cubic-bezier(0.81, 0.01, 0.15, 0.99);
}

.c-nav_content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
}

.c-nav_content .-dark {
  background-color: transparent !important;
}

.c-header {
  min-height: 100px;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  z-index: 200;
  mix-blend-mode: difference;
  pointer-events: all;
  color: var(--primary);
}

.c-header_logo {
  height: 100%;
  position: absolute;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  left: 3vw;
}

.c-header_logo a {
  text-decoration: none;
}

.c-header_button {
  position: absolute;
  right: 3vw;
  height: 100%;
  width: 10vmin;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.c-header_button:hover .-buger {
  height: 30px;
}

.c-header_button button {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}

.c-header_button_icon.-buger {
  margin-left: auto;
  -webkit-transition: height .3s;
  transition: height .3s;
  pointer-events: none;
  position: relative;
  width: 30px;
  height: 20px;
}

.c-header_button_icon.-buger span {
  -webkit-transition: 1.5s cubic-bezier(0.83, 0, 0, 0.99);
  transition: 1.5s cubic-bezier(0.83, 0, 0, 0.99);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
}

.c-header_button_icon.-buger::before, .c-header_button_icon.-buger::after {
  -webkit-transition: 1s cubic-bezier(0.83, 0, 0, 0.99);
  transition: 1s cubic-bezier(0.83, 0, 0, 0.99);
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
}

.c-header_button_icon.-buger::before {
  top: 0px;
}

.c-header_button_icon.-buger::after {
  bottom: 0px;
}

.c-typogrid-title {
  overflow-x: hidden !important;
}

@-webkit-keyframes typogrid-waveing {
  0% {
    -webkit-transform: translateX(calc(var(--typogrid-waveing)*-1));
            transform: translateX(calc(var(--typogrid-waveing)*-1));
  }
  50% {
    -webkit-transform: translateX(var(--typogrid-waveing));
            transform: translateX(var(--typogrid-waveing));
  }
  100% {
    -webkit-transform: translateX(calc(var(--typogrid-waveing)*-1));
            transform: translateX(calc(var(--typogrid-waveing)*-1));
  }
}

@keyframes typogrid-waveing {
  0% {
    -webkit-transform: translateX(calc(var(--typogrid-waveing)*-1));
            transform: translateX(calc(var(--typogrid-waveing)*-1));
  }
  50% {
    -webkit-transform: translateX(var(--typogrid-waveing));
            transform: translateX(var(--typogrid-waveing));
  }
  100% {
    -webkit-transform: translateX(calc(var(--typogrid-waveing)*-1));
            transform: translateX(calc(var(--typogrid-waveing)*-1));
  }
}

.c-typogrid-title-images {
  -webkit-transition: 3s cubic-bezier(0.07, 0.22, 0.22, 0.97);
  transition: 3s cubic-bezier(0.07, 0.22, 0.22, 0.97);
  position: absolute;
  margin-left: -100px;
  top: 4vh;
  z-index: 1;
  width: 23vw;
  min-width: 200px;
  height: 25vw;
  min-height: 200px;
}

.c-typogrid-title-english {
  height: calc(20px + 9vw);
  pointer-events: none;
  position: relative;
}

.c-typogrid-title-english-1, .c-typogrid-title-english-2, .c-typogrid-title-english-3-2 {
  z-index: 3 !important;
}

.c-typogrid-title-english-frame {
  width: 100%;
  overflow-x: hidden !important;
  min-width: 500px;
  margin: 5vw 0;
  --typogrid-waveing: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-typogrid-title-english-1 {
  -webkit-animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}

.c-typogrid-title-english-2 {
  -webkit-animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -0.36s;
          animation-delay: -0.36s;
}

.c-typogrid-title-english-3 {
  -webkit-animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -0.54s;
          animation-delay: -0.54s;
}

.c-typogrid-title-english-4 {
  -webkit-animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -0.72s;
          animation-delay: -0.72s;
}

.c-typogrid-title-english-5 {
  -webkit-animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s;
}

.c-typogrid-title-chinese {
  pointer-events: none;
  position: relative;
  height: calc(20px + 12vw);
}

.c-typogrid-title-chinese-frame {
  width: 100vw;
  overflow-x: hidden !important;
  margin: 5vw 0;
  margin-left: 40vw;
  --typogrid-waveing: 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-typogrid-title-chinese-1 {
  -webkit-animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -2.45s;
          animation-delay: -2.45s;
}

.c-typogrid-title-chinese-2 {
  -webkit-animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
}

.c-typogrid-title-chinese-3 {
  -webkit-animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -2.75s;
          animation-delay: -2.75s;
}

.c-typogrid-title-chinese-4 {
  -webkit-animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -2.9s;
          animation-delay: -2.9s;
}

.c-typogrid-title-chinese-5 {
  -webkit-animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
          animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  -webkit-animation-delay: -3.05s;
          animation-delay: -3.05s;
}

.c-typogrid-title-chinese-3-1, .c-typogrid-title-chinese-4, .c-typogrid-title-chinese-5 {
  z-index: 3 !important;
}

.c-hero-subfirst {
  padding-top: 15vh;
}

.c-hero-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  margin-top: -5vw;
  margin-bottom: 10vh;
}

.c-hero-info-en {
  justify-self: flex-start;
}

.c-hero-info-zh {
  margin-left: auto;
}

.c-hero-smalltext {
  margin-bottom: 15vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary);
  overflow-x: hidden;
}

body[p-hide] {
  cursor: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: var(--secondary);
}

a {
  color: var(--secondary);
}

.-banner {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.o-layout {
  max-width: 2000px;
  padding-left: var(--website-padding);
  padding-right: var(--website-padding);
  display: flow-root;
  position: relative;
}

.o-layers .o-layer {
  position: relative !important;
}

.o-layer {
  position: absolute;
}

.-dark {
  background-color: var(--secondary);
  color: var(--primary);
}

.-dark *,
.-dark a {
  color: var(--primary);
}

.-dark *::-moz-selection,
.-dark a::-moz-selection {
  background-color: var(--primary);
  color: var(--secondary);
}

.-dark *::selection,
.-dark a::selection {
  background-color: var(--primary);
  color: var(--secondary);
}

.-dark span.-outline {
  border-color: var(--primary);
}

::-moz-selection {
  background-color: var(--secondary);
  color: var(--primary);
}

::selection {
  background-color: var(--secondary);
  color: var(--primary);
}

.ccb {
  mix-blend-mode: difference;
  top: -1000vw;
  left: -1000vh;
  pointer-events: none;
  position: fixed;
  z-index: 10000000;
  -webkit-transition: .5s, top .5s, left .5s;
  transition: .5s, top .5s, left .5s;
  -webkit-transition-timing-function: cubic-bezier(0, -0.16, 0, 1);
          transition-timing-function: cubic-bezier(0, -0.16, 0, 1);
}

.ccb-fill, .ccb-outline {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: .2s, -webkit-filter .6s;
  transition: .2s, -webkit-filter .6s;
  transition: .2s, filter .6s;
  transition: .2s, filter .6s, -webkit-filter .6s;
}

.ccb-fill {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: .2;
}

.ccb-outline {
  opacity: 0;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

.ccb.links .ccb-outline {
  -webkit-filter: blur(0px);
          filter: blur(0px);
  opacity: 1 !important;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.ccb.links .ccb-fill {
  -webkit-filter: blur(10px);
          filter: blur(10px);
  opacity: 0 !important;
  -webkit-transform: scale(2);
          transform: scale(2);
}

.cca {
  mix-blend-mode: difference;
  top: -1000vw;
  left: -1000vh;
  pointer-events: none;
  position: fixed;
  z-index: 10000000;
  -webkit-transition: .5s, top .05s, left .05s;
  transition: .5s, top .05s, left .05s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}


/*# sourceMappingURL=style.78032849.css.map */