@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
br[-none] {
  display: none;
}

@media screen and (max-width: 1000px) {
  br[-none-m],
.-none-m {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  br[-none-d] {
    display: none;
  }
}

.-inline {
  margin: var(--typography-margin);
}

.-aa {
  text-transform: uppercase;
}

span {
  display: inline-block;
}

h1 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: var(--h1);
  line-height: calc(var(--h1) - var(--h1) * 0.2);
  letter-spacing: -2px;
}
h1 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}
h1 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h2 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: var(--h2);
  line-height: calc(var(--h2) - var(--h2) * 0.2);
  letter-spacing: -1px;
}
h2 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}
h2 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h3 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: var(--h3);
  line-height: calc(var(--h3) - var(--h3) * 0.2);
}
h3 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}
h3 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h4 {
  margin: var(--typography-margin);
  font-weight: 300;
  font-size: var(--h4);
  line-height: calc(var(--h4) - var(--h4) * 0.2);
}
h4 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}
h4 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

h5,
h6 {
  margin: var(--typography-margin);
  font-weight: 700;
  font-size: var(--h5);
  line-height: calc(var(--h5) - var(--h5) * 0.2);
}
h5 span.-outline,
h6 span.-outline {
  border: solid 3px var(--secondary);
  border-radius: 100vw;
  margin: 0px;
  padding: 5px 20px;
}
h5 span.-outline.-dark,
h6 span.-outline.-dark {
  background-color: var(--secondary);
  color: var(--primary) !important;
}

p,
a {
  margin: var(--typography-margin);
  font-size: var(--p);
}

.-left {
  text-align: left;
}

.-right {
  text-align: right;
}

/*! locomotive-scroll v4.1.1 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden;
}

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.has-scroll-smooth body {
  overflow: hidden;
}

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap;
}

[data-scroll-direction=horizontal] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%;
}

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  transform-origin: center right;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0;
}

.c-scrollbar:hover {
  transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-scrolling .c-scrollbar,
.has-scroll-dragging .c-scrollbar {
  opacity: 1;
}

[data-scroll-direction=horizontal] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  transform: scaleY(1);
}

[data-scroll-direction=horizontal] .c-scrollbar:hover {
  transform: scaleY(1.3);
}

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--tertiary);
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab;
}

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

[data-scroll-direction=horizontal] .c-scrollbar_thumb {
  right: auto;
  bottom: 0;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  30% {
    transform: translate(3%, -15%);
  }
  50% {
    transform: translate(12%, 9%);
  }
  70% {
    transform: translate(9%, 4%);
  }
  90% {
    transform: translate(-1%, 7%);
  }
}
body[grain]::after {
  pointer-events: none;
  z-index: 10000;
  content: "";
  position: fixed;
  width: 300vw;
  height: 300vh;
  min-width: 2000px;
  min-height: 2000px;
  left: -100%;
  top: -50%;
  background-image: url(film.feb91601.png);
  opacity: 0.1;
  animation: grain 0.2s steps(6) infinite;
}

.-left-in,
.-top-in,
.-right-in,
.-bottom-in {
  transition: 1s cubic-bezier(0.61, 0, 0, 0.99), opacity 0.4s;
  opacity: 0;
}

.-left-in {
  transform: translateX(-200px);
}

.-right-in {
  transform: translateX(200px);
}

.-top-in {
  transform: translateY(-200px);
}

.-bottom-in {
  transform: translateY(200px);
}

.menu-open .-left-in,
.menu-open .-top-in,
.menu-open .-right-in,
.menu-open .-bottom-in {
  transition: 1s cubic-bezier(0.61, 0, 0, 0.99);
  transition-delay: 0.2s;
  transform: translateX(0) translateY(0);
  opacity: 1;
}
.menu-open .c-nav {
  pointer-events: all !important;
}
.menu-open .c-nav_bg.-curtain .c-nav_bg_col {
  height: 100%;
}
.menu-open .c-nav_bg.-slide .c-nav_bg_col {
  height: 100%;
}
.menu-open .c-header_button_icon.-buger {
  height: 20px !important;
}
.menu-open .c-header_button_icon.-buger span {
  width: 0;
}
.menu-open .c-header_button_icon.-buger::before {
  transform-origin: right top;
  transform: rotate(-45deg);
  margin-top: -10%;
  margin-left: -20%;
}
.menu-open .c-header_button_icon.-buger::after {
  transform-origin: right bottom;
  transform: rotate(45deg);
  margin-left: -20%;
}

.c-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  pointer-events: none;
}
.c-nav_bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.c-nav_bg.-curtain {
  display: flex;
  justify-content: center;
}
.c-nav_bg.-curtain .c-nav_bg_col {
  min-width: 300px;
  width: 25%;
  height: 0%;
  background-color: var(--secondary);
}
.c-nav_bg.-curtain .c-nav_bg_col:nth-child(1) {
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.7s;
}
.c-nav_bg.-curtain .c-nav_bg_col:nth-child(2) {
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.8s;
}
.c-nav_bg.-curtain .c-nav_bg_col:nth-child(3) {
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 0.9s;
}
.c-nav_bg.-curtain .c-nav_bg_col:nth-child(4) {
  transition: cubic-bezier(0.81, 0.01, 0.15, 0.99) 1s;
}
.c-nav_bg.-slide {
  display: flex;
}
.c-nav_bg.-slide .c-nav_bg_col {
  width: 100%;
  height: 0%;
  background-color: var(--secondary);
  transition: 1s cubic-bezier(0.81, 0.01, 0.15, 0.99);
}
.c-nav_content {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 200;
}
.c-nav_content .-dark {
  background-color: transparent !important;
}

.c-header {
  min-height: 100px;
  width: 100%;
  position: fixed;
  padding-top: 10px;
  z-index: 200;
  mix-blend-mode: difference;
  pointer-events: all;
  color: var(--primary);
}
.c-header_logo {
  height: 100%;
  position: absolute;
  display: inline-flex;
  align-items: center;
  width: 25%;
  left: 3vw;
}
.c-header_logo a {
  text-decoration: none;
}
.c-header_button {
  position: absolute;
  right: 3vw;
  height: 100%;
  width: 10vmin;
  display: inline-flex;
  align-items: center;
  justify-content: right;
}
.c-header_button:hover .-buger {
  height: 30px;
}
.c-header_button button {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
}
.c-header_button_icon.-buger {
  margin-left: auto;
  transition: height 0.3s;
  pointer-events: none;
  position: relative;
  width: 30px;
  height: 20px;
}
.c-header_button_icon.-buger span {
  transition: 1.5s cubic-bezier(0.83, 0, 0, 0.99);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
}
.c-header_button_icon.-buger::before, .c-header_button_icon.-buger::after {
  transition: 1s cubic-bezier(0.83, 0, 0, 0.99);
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--secondary);
}
.c-header_button_icon.-buger::before {
  top: 0px;
}
.c-header_button_icon.-buger::after {
  bottom: 0px;
}

.c-typogrid-title {
  overflow-x: hidden !important;
}
@keyframes typogrid-waveing {
  0% {
    transform: translateX(calc(var(--typogrid-waveing) * -1));
  }
  50% {
    transform: translateX(var(--typogrid-waveing));
  }
  100% {
    transform: translateX(calc(var(--typogrid-waveing) * -1));
  }
}
.c-typogrid-title-images {
  transition: 3s cubic-bezier(0.07, 0.22, 0.22, 0.97);
  position: absolute;
  margin-left: -100px;
  top: 4vh;
  z-index: 1;
  width: 23vw;
  min-width: 200px;
  height: 25vw;
  min-height: 200px;
}
.c-typogrid-title-english {
  height: calc(20px + 9vw);
  pointer-events: none;
  position: relative;
}
.c-typogrid-title-english-1, .c-typogrid-title-english-2, .c-typogrid-title-english-3-2 {
  z-index: 3 !important;
}
.c-typogrid-title-english-frame {
  width: 100%;
  overflow-x: hidden !important;
  min-width: 500px;
  margin: 5vw 0;
  --typogrid-waveing: 2.5vw;
  display: flex;
}
.c-typogrid-title-english-1 {
  animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -0.18s;
}
.c-typogrid-title-english-2 {
  animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -0.36s;
}
.c-typogrid-title-english-3 {
  animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -0.54s;
}
.c-typogrid-title-english-4 {
  animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -0.72s;
}
.c-typogrid-title-english-5 {
  animation: typogrid-waveing 10s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -0.9s;
}
.c-typogrid-title-chinese {
  pointer-events: none;
  position: relative;
  height: calc(20px + 12vw);
}
.c-typogrid-title-chinese-frame {
  width: 100vw;
  overflow-x: hidden !important;
  margin: 5vw 0;
  margin-left: 40vw;
  --typogrid-waveing: 4vw;
  display: flex;
}
.c-typogrid-title-chinese-1 {
  animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -2.45s;
}
.c-typogrid-title-chinese-2 {
  animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -2.6s;
}
.c-typogrid-title-chinese-3 {
  animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -2.75s;
}
.c-typogrid-title-chinese-4 {
  animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -2.9s;
}
.c-typogrid-title-chinese-5 {
  animation: typogrid-waveing 12s infinite cubic-bezier(0.84, 0.01, 0.23, 1);
  animation-delay: -3.05s;
}
.c-typogrid-title-chinese-3-1, .c-typogrid-title-chinese-4, .c-typogrid-title-chinese-5 {
  z-index: 3 !important;
}

.c-hero-subfirst {
  padding-top: 15vh;
}
.c-hero-info {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  margin-top: -5vw;
  margin-bottom: 10vh;
}
.c-hero-info-en {
  justify-self: flex-start;
}
.c-hero-info-zh {
  margin-left: auto;
}
.c-hero-smalltext {
  margin-bottom: 15vh;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary);
  overflow-x: hidden;
}
body[p-hide] {
  cursor: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--secondary);
}

a {
  color: var(--secondary);
}

.-banner {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.o-layout {
  max-width: 2000px;
  padding-left: var(--website-padding);
  padding-right: var(--website-padding);
  display: flow-root;
  position: relative;
}

.o-layers .o-layer {
  position: relative !important;
}

.o-layer {
  position: absolute;
}
.-dark {
  background-color: var(--secondary);
  color: var(--primary);
}
.-dark *,
.-dark a {
  color: var(--primary);
}
.-dark *::selection,
.-dark a::selection {
  background-color: var(--primary);
  color: var(--secondary);
}
.-dark span.-outline {
  border-color: var(--primary);
}

::selection {
  background-color: var(--secondary);
  color: var(--primary);
}

.ccb {
  mix-blend-mode: difference;
  top: -1000vw;
  left: -1000vh;
  pointer-events: none;
  position: fixed;
  z-index: 10000000;
  transition: 0.5s, top 0.5s, left 0.5s;
  transition-timing-function: cubic-bezier(0, -0.16, 0, 1);
}
.ccb-fill, .ccb-outline {
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.2s, filter 0.6s;
}
.ccb-fill {
  filter: blur(0px);
  opacity: 0.2;
}
.ccb-outline {
  opacity: 0;
  transform: scale(1.5);
  filter: blur(10px);
}
.ccb.links .ccb-outline {
  filter: blur(0px);
  opacity: 1 !important;
  transform: scale(1.1);
}
.ccb.links .ccb-fill {
  filter: blur(10px);
  opacity: 0 !important;
  transform: scale(2);
}

.cca {
  mix-blend-mode: difference;
  top: -1000vw;
  left: -1000vh;
  pointer-events: none;
  position: fixed;
  z-index: 10000000;
  transition: 0.5s, top 0.05s, left 0.05s;
  transition-timing-function: ease-out;
}
.test-grid {
  top: 0;
  left: 0;
  position: fixed;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: none;
  z-index: 100000;
}
.test-grid img {
  width: 100%;
  height: 100%;
}

.gcg {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 2fr 4fr 2.66fr 5.33fr 5.33fr 4.33fr 2.83fr 3.5fr 3.5fr 2.83fr 4.33fr 5.33fr 5.33fr 2.66fr 4fr 2fr 1fr 1fr;
}

.gcg-1-1 {
  grid-column-start: 1;
  grid-column-end: 1;
}

.gcg-1-2 {
  grid-column-start: 1;
  grid-column-end: 2;
}

.gcg-1-3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gcg-1-4 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.gcg-1-5 {
  grid-column-start: 1;
  grid-column-end: 5;
}

.gcg-1-6 {
  grid-column-start: 1;
  grid-column-end: 6;
}

.gcg-1-7 {
  grid-column-start: 1;
  grid-column-end: 7;
}

.gcg-1-8 {
  grid-column-start: 1;
  grid-column-end: 8;
}

.gcg-1-9 {
  grid-column-start: 1;
  grid-column-end: 9;
}

.gcg-1-10 {
  grid-column-start: 1;
  grid-column-end: 10;
}

.gcg-1-11 {
  grid-column-start: 1;
  grid-column-end: 11;
}

.gcg-1-12 {
  grid-column-start: 1;
  grid-column-end: 12;
}

.gcg-1-13 {
  grid-column-start: 1;
  grid-column-end: 13;
}

.gcg-1-14 {
  grid-column-start: 1;
  grid-column-end: 14;
}

.gcg-1-15 {
  grid-column-start: 1;
  grid-column-end: 15;
}

.gcg-1-16 {
  grid-column-start: 1;
  grid-column-end: 16;
}

.gcg-1-17 {
  grid-column-start: 1;
  grid-column-end: 17;
}

.gcg-1-18 {
  grid-column-start: 1;
  grid-column-end: 18;
}

.gcg-1-19 {
  grid-column-start: 1;
  grid-column-end: 19;
}

.gcg-1-20 {
  grid-column-start: 1;
  grid-column-end: 20;
}

.gcg-1-21 {
  grid-column-start: 1;
  grid-column-end: 21;
}

.gcg-2-1 {
  grid-column-start: 2;
  grid-column-end: 1;
}

.gcg-2-2 {
  grid-column-start: 2;
  grid-column-end: 2;
}

.gcg-2-3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.gcg-2-4 {
  grid-column-start: 2;
  grid-column-end: 4;
}

.gcg-2-5 {
  grid-column-start: 2;
  grid-column-end: 5;
}

.gcg-2-6 {
  grid-column-start: 2;
  grid-column-end: 6;
}

.gcg-2-7 {
  grid-column-start: 2;
  grid-column-end: 7;
}

.gcg-2-8 {
  grid-column-start: 2;
  grid-column-end: 8;
}

.gcg-2-9 {
  grid-column-start: 2;
  grid-column-end: 9;
}

.gcg-2-10 {
  grid-column-start: 2;
  grid-column-end: 10;
}

.gcg-2-11 {
  grid-column-start: 2;
  grid-column-end: 11;
}

.gcg-2-12 {
  grid-column-start: 2;
  grid-column-end: 12;
}

.gcg-2-13 {
  grid-column-start: 2;
  grid-column-end: 13;
}

.gcg-2-14 {
  grid-column-start: 2;
  grid-column-end: 14;
}

.gcg-2-15 {
  grid-column-start: 2;
  grid-column-end: 15;
}

.gcg-2-16 {
  grid-column-start: 2;
  grid-column-end: 16;
}

.gcg-2-17 {
  grid-column-start: 2;
  grid-column-end: 17;
}

.gcg-2-18 {
  grid-column-start: 2;
  grid-column-end: 18;
}

.gcg-2-19 {
  grid-column-start: 2;
  grid-column-end: 19;
}

.gcg-2-20 {
  grid-column-start: 2;
  grid-column-end: 20;
}

.gcg-2-21 {
  grid-column-start: 2;
  grid-column-end: 21;
}

.gcg-3-1 {
  grid-column-start: 3;
  grid-column-end: 1;
}

.gcg-3-2 {
  grid-column-start: 3;
  grid-column-end: 2;
}

.gcg-3-3 {
  grid-column-start: 3;
  grid-column-end: 3;
}

.gcg-3-4 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.gcg-3-5 {
  grid-column-start: 3;
  grid-column-end: 5;
}

.gcg-3-6 {
  grid-column-start: 3;
  grid-column-end: 6;
}

.gcg-3-7 {
  grid-column-start: 3;
  grid-column-end: 7;
}

.gcg-3-8 {
  grid-column-start: 3;
  grid-column-end: 8;
}

.gcg-3-9 {
  grid-column-start: 3;
  grid-column-end: 9;
}

.gcg-3-10 {
  grid-column-start: 3;
  grid-column-end: 10;
}

.gcg-3-11 {
  grid-column-start: 3;
  grid-column-end: 11;
}

.gcg-3-12 {
  grid-column-start: 3;
  grid-column-end: 12;
}

.gcg-3-13 {
  grid-column-start: 3;
  grid-column-end: 13;
}

.gcg-3-14 {
  grid-column-start: 3;
  grid-column-end: 14;
}

.gcg-3-15 {
  grid-column-start: 3;
  grid-column-end: 15;
}

.gcg-3-16 {
  grid-column-start: 3;
  grid-column-end: 16;
}

.gcg-3-17 {
  grid-column-start: 3;
  grid-column-end: 17;
}

.gcg-3-18 {
  grid-column-start: 3;
  grid-column-end: 18;
}

.gcg-3-19 {
  grid-column-start: 3;
  grid-column-end: 19;
}

.gcg-3-20 {
  grid-column-start: 3;
  grid-column-end: 20;
}

.gcg-3-21 {
  grid-column-start: 3;
  grid-column-end: 21;
}

.gcg-4-1 {
  grid-column-start: 4;
  grid-column-end: 1;
}

.gcg-4-2 {
  grid-column-start: 4;
  grid-column-end: 2;
}

.gcg-4-3 {
  grid-column-start: 4;
  grid-column-end: 3;
}

.gcg-4-4 {
  grid-column-start: 4;
  grid-column-end: 4;
}

.gcg-4-5 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.gcg-4-6 {
  grid-column-start: 4;
  grid-column-end: 6;
}

.gcg-4-7 {
  grid-column-start: 4;
  grid-column-end: 7;
}

.gcg-4-8 {
  grid-column-start: 4;
  grid-column-end: 8;
}

.gcg-4-9 {
  grid-column-start: 4;
  grid-column-end: 9;
}

.gcg-4-10 {
  grid-column-start: 4;
  grid-column-end: 10;
}

.gcg-4-11 {
  grid-column-start: 4;
  grid-column-end: 11;
}

.gcg-4-12 {
  grid-column-start: 4;
  grid-column-end: 12;
}

.gcg-4-13 {
  grid-column-start: 4;
  grid-column-end: 13;
}

.gcg-4-14 {
  grid-column-start: 4;
  grid-column-end: 14;
}

.gcg-4-15 {
  grid-column-start: 4;
  grid-column-end: 15;
}

.gcg-4-16 {
  grid-column-start: 4;
  grid-column-end: 16;
}

.gcg-4-17 {
  grid-column-start: 4;
  grid-column-end: 17;
}

.gcg-4-18 {
  grid-column-start: 4;
  grid-column-end: 18;
}

.gcg-4-19 {
  grid-column-start: 4;
  grid-column-end: 19;
}

.gcg-4-20 {
  grid-column-start: 4;
  grid-column-end: 20;
}

.gcg-4-21 {
  grid-column-start: 4;
  grid-column-end: 21;
}

.gcg-5-1 {
  grid-column-start: 5;
  grid-column-end: 1;
}

.gcg-5-2 {
  grid-column-start: 5;
  grid-column-end: 2;
}

.gcg-5-3 {
  grid-column-start: 5;
  grid-column-end: 3;
}

.gcg-5-4 {
  grid-column-start: 5;
  grid-column-end: 4;
}

.gcg-5-5 {
  grid-column-start: 5;
  grid-column-end: 5;
}

.gcg-5-6 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.gcg-5-7 {
  grid-column-start: 5;
  grid-column-end: 7;
}

.gcg-5-8 {
  grid-column-start: 5;
  grid-column-end: 8;
}

.gcg-5-9 {
  grid-column-start: 5;
  grid-column-end: 9;
}

.gcg-5-10 {
  grid-column-start: 5;
  grid-column-end: 10;
}

.gcg-5-11 {
  grid-column-start: 5;
  grid-column-end: 11;
}

.gcg-5-12 {
  grid-column-start: 5;
  grid-column-end: 12;
}

.gcg-5-13 {
  grid-column-start: 5;
  grid-column-end: 13;
}

.gcg-5-14 {
  grid-column-start: 5;
  grid-column-end: 14;
}

.gcg-5-15 {
  grid-column-start: 5;
  grid-column-end: 15;
}

.gcg-5-16 {
  grid-column-start: 5;
  grid-column-end: 16;
}

.gcg-5-17 {
  grid-column-start: 5;
  grid-column-end: 17;
}

.gcg-5-18 {
  grid-column-start: 5;
  grid-column-end: 18;
}

.gcg-5-19 {
  grid-column-start: 5;
  grid-column-end: 19;
}

.gcg-5-20 {
  grid-column-start: 5;
  grid-column-end: 20;
}

.gcg-5-21 {
  grid-column-start: 5;
  grid-column-end: 21;
}

.gcg-6-1 {
  grid-column-start: 6;
  grid-column-end: 1;
}

.gcg-6-2 {
  grid-column-start: 6;
  grid-column-end: 2;
}

.gcg-6-3 {
  grid-column-start: 6;
  grid-column-end: 3;
}

.gcg-6-4 {
  grid-column-start: 6;
  grid-column-end: 4;
}

.gcg-6-5 {
  grid-column-start: 6;
  grid-column-end: 5;
}

.gcg-6-6 {
  grid-column-start: 6;
  grid-column-end: 6;
}

.gcg-6-7 {
  grid-column-start: 6;
  grid-column-end: 7;
}

.gcg-6-8 {
  grid-column-start: 6;
  grid-column-end: 8;
}

.gcg-6-9 {
  grid-column-start: 6;
  grid-column-end: 9;
}

.gcg-6-10 {
  grid-column-start: 6;
  grid-column-end: 10;
}

.gcg-6-11 {
  grid-column-start: 6;
  grid-column-end: 11;
}

.gcg-6-12 {
  grid-column-start: 6;
  grid-column-end: 12;
}

.gcg-6-13 {
  grid-column-start: 6;
  grid-column-end: 13;
}

.gcg-6-14 {
  grid-column-start: 6;
  grid-column-end: 14;
}

.gcg-6-15 {
  grid-column-start: 6;
  grid-column-end: 15;
}

.gcg-6-16 {
  grid-column-start: 6;
  grid-column-end: 16;
}

.gcg-6-17 {
  grid-column-start: 6;
  grid-column-end: 17;
}

.gcg-6-18 {
  grid-column-start: 6;
  grid-column-end: 18;
}

.gcg-6-19 {
  grid-column-start: 6;
  grid-column-end: 19;
}

.gcg-6-20 {
  grid-column-start: 6;
  grid-column-end: 20;
}

.gcg-6-21 {
  grid-column-start: 6;
  grid-column-end: 21;
}

.gcg-7-1 {
  grid-column-start: 7;
  grid-column-end: 1;
}

.gcg-7-2 {
  grid-column-start: 7;
  grid-column-end: 2;
}

.gcg-7-3 {
  grid-column-start: 7;
  grid-column-end: 3;
}

.gcg-7-4 {
  grid-column-start: 7;
  grid-column-end: 4;
}

.gcg-7-5 {
  grid-column-start: 7;
  grid-column-end: 5;
}

.gcg-7-6 {
  grid-column-start: 7;
  grid-column-end: 6;
}

.gcg-7-7 {
  grid-column-start: 7;
  grid-column-end: 7;
}

.gcg-7-8 {
  grid-column-start: 7;
  grid-column-end: 8;
}

.gcg-7-9 {
  grid-column-start: 7;
  grid-column-end: 9;
}

.gcg-7-10 {
  grid-column-start: 7;
  grid-column-end: 10;
}

.gcg-7-11 {
  grid-column-start: 7;
  grid-column-end: 11;
}

.gcg-7-12 {
  grid-column-start: 7;
  grid-column-end: 12;
}

.gcg-7-13 {
  grid-column-start: 7;
  grid-column-end: 13;
}

.gcg-7-14 {
  grid-column-start: 7;
  grid-column-end: 14;
}

.gcg-7-15 {
  grid-column-start: 7;
  grid-column-end: 15;
}

.gcg-7-16 {
  grid-column-start: 7;
  grid-column-end: 16;
}

.gcg-7-17 {
  grid-column-start: 7;
  grid-column-end: 17;
}

.gcg-7-18 {
  grid-column-start: 7;
  grid-column-end: 18;
}

.gcg-7-19 {
  grid-column-start: 7;
  grid-column-end: 19;
}

.gcg-7-20 {
  grid-column-start: 7;
  grid-column-end: 20;
}

.gcg-7-21 {
  grid-column-start: 7;
  grid-column-end: 21;
}

.gcg-8-1 {
  grid-column-start: 8;
  grid-column-end: 1;
}

.gcg-8-2 {
  grid-column-start: 8;
  grid-column-end: 2;
}

.gcg-8-3 {
  grid-column-start: 8;
  grid-column-end: 3;
}

.gcg-8-4 {
  grid-column-start: 8;
  grid-column-end: 4;
}

.gcg-8-5 {
  grid-column-start: 8;
  grid-column-end: 5;
}

.gcg-8-6 {
  grid-column-start: 8;
  grid-column-end: 6;
}

.gcg-8-7 {
  grid-column-start: 8;
  grid-column-end: 7;
}

.gcg-8-8 {
  grid-column-start: 8;
  grid-column-end: 8;
}

.gcg-8-9 {
  grid-column-start: 8;
  grid-column-end: 9;
}

.gcg-8-10 {
  grid-column-start: 8;
  grid-column-end: 10;
}

.gcg-8-11 {
  grid-column-start: 8;
  grid-column-end: 11;
}

.gcg-8-12 {
  grid-column-start: 8;
  grid-column-end: 12;
}

.gcg-8-13 {
  grid-column-start: 8;
  grid-column-end: 13;
}

.gcg-8-14 {
  grid-column-start: 8;
  grid-column-end: 14;
}

.gcg-8-15 {
  grid-column-start: 8;
  grid-column-end: 15;
}

.gcg-8-16 {
  grid-column-start: 8;
  grid-column-end: 16;
}

.gcg-8-17 {
  grid-column-start: 8;
  grid-column-end: 17;
}

.gcg-8-18 {
  grid-column-start: 8;
  grid-column-end: 18;
}

.gcg-8-19 {
  grid-column-start: 8;
  grid-column-end: 19;
}

.gcg-8-20 {
  grid-column-start: 8;
  grid-column-end: 20;
}

.gcg-8-21 {
  grid-column-start: 8;
  grid-column-end: 21;
}

.gcg-9-1 {
  grid-column-start: 9;
  grid-column-end: 1;
}

.gcg-9-2 {
  grid-column-start: 9;
  grid-column-end: 2;
}

.gcg-9-3 {
  grid-column-start: 9;
  grid-column-end: 3;
}

.gcg-9-4 {
  grid-column-start: 9;
  grid-column-end: 4;
}

.gcg-9-5 {
  grid-column-start: 9;
  grid-column-end: 5;
}

.gcg-9-6 {
  grid-column-start: 9;
  grid-column-end: 6;
}

.gcg-9-7 {
  grid-column-start: 9;
  grid-column-end: 7;
}

.gcg-9-8 {
  grid-column-start: 9;
  grid-column-end: 8;
}

.gcg-9-9 {
  grid-column-start: 9;
  grid-column-end: 9;
}

.gcg-9-10 {
  grid-column-start: 9;
  grid-column-end: 10;
}

.gcg-9-11 {
  grid-column-start: 9;
  grid-column-end: 11;
}

.gcg-9-12 {
  grid-column-start: 9;
  grid-column-end: 12;
}

.gcg-9-13 {
  grid-column-start: 9;
  grid-column-end: 13;
}

.gcg-9-14 {
  grid-column-start: 9;
  grid-column-end: 14;
}

.gcg-9-15 {
  grid-column-start: 9;
  grid-column-end: 15;
}

.gcg-9-16 {
  grid-column-start: 9;
  grid-column-end: 16;
}

.gcg-9-17 {
  grid-column-start: 9;
  grid-column-end: 17;
}

.gcg-9-18 {
  grid-column-start: 9;
  grid-column-end: 18;
}

.gcg-9-19 {
  grid-column-start: 9;
  grid-column-end: 19;
}

.gcg-9-20 {
  grid-column-start: 9;
  grid-column-end: 20;
}

.gcg-9-21 {
  grid-column-start: 9;
  grid-column-end: 21;
}

.gcg-10-1 {
  grid-column-start: 10;
  grid-column-end: 1;
}

.gcg-10-2 {
  grid-column-start: 10;
  grid-column-end: 2;
}

.gcg-10-3 {
  grid-column-start: 10;
  grid-column-end: 3;
}

.gcg-10-4 {
  grid-column-start: 10;
  grid-column-end: 4;
}

.gcg-10-5 {
  grid-column-start: 10;
  grid-column-end: 5;
}

.gcg-10-6 {
  grid-column-start: 10;
  grid-column-end: 6;
}

.gcg-10-7 {
  grid-column-start: 10;
  grid-column-end: 7;
}

.gcg-10-8 {
  grid-column-start: 10;
  grid-column-end: 8;
}

.gcg-10-9 {
  grid-column-start: 10;
  grid-column-end: 9;
}

.gcg-10-10 {
  grid-column-start: 10;
  grid-column-end: 10;
}

.gcg-10-11 {
  grid-column-start: 10;
  grid-column-end: 11;
}

.gcg-10-12 {
  grid-column-start: 10;
  grid-column-end: 12;
}

.gcg-10-13 {
  grid-column-start: 10;
  grid-column-end: 13;
}

.gcg-10-14 {
  grid-column-start: 10;
  grid-column-end: 14;
}

.gcg-10-15 {
  grid-column-start: 10;
  grid-column-end: 15;
}

.gcg-10-16 {
  grid-column-start: 10;
  grid-column-end: 16;
}

.gcg-10-17 {
  grid-column-start: 10;
  grid-column-end: 17;
}

.gcg-10-18 {
  grid-column-start: 10;
  grid-column-end: 18;
}

.gcg-10-19 {
  grid-column-start: 10;
  grid-column-end: 19;
}

.gcg-10-20 {
  grid-column-start: 10;
  grid-column-end: 20;
}

.gcg-10-21 {
  grid-column-start: 10;
  grid-column-end: 21;
}

.gcg-11-1 {
  grid-column-start: 11;
  grid-column-end: 1;
}

.gcg-11-2 {
  grid-column-start: 11;
  grid-column-end: 2;
}

.gcg-11-3 {
  grid-column-start: 11;
  grid-column-end: 3;
}

.gcg-11-4 {
  grid-column-start: 11;
  grid-column-end: 4;
}

.gcg-11-5 {
  grid-column-start: 11;
  grid-column-end: 5;
}

.gcg-11-6 {
  grid-column-start: 11;
  grid-column-end: 6;
}

.gcg-11-7 {
  grid-column-start: 11;
  grid-column-end: 7;
}

.gcg-11-8 {
  grid-column-start: 11;
  grid-column-end: 8;
}

.gcg-11-9 {
  grid-column-start: 11;
  grid-column-end: 9;
}

.gcg-11-10 {
  grid-column-start: 11;
  grid-column-end: 10;
}

.gcg-11-11 {
  grid-column-start: 11;
  grid-column-end: 11;
}

.gcg-11-12 {
  grid-column-start: 11;
  grid-column-end: 12;
}

.gcg-11-13 {
  grid-column-start: 11;
  grid-column-end: 13;
}

.gcg-11-14 {
  grid-column-start: 11;
  grid-column-end: 14;
}

.gcg-11-15 {
  grid-column-start: 11;
  grid-column-end: 15;
}

.gcg-11-16 {
  grid-column-start: 11;
  grid-column-end: 16;
}

.gcg-11-17 {
  grid-column-start: 11;
  grid-column-end: 17;
}

.gcg-11-18 {
  grid-column-start: 11;
  grid-column-end: 18;
}

.gcg-11-19 {
  grid-column-start: 11;
  grid-column-end: 19;
}

.gcg-11-20 {
  grid-column-start: 11;
  grid-column-end: 20;
}

.gcg-11-21 {
  grid-column-start: 11;
  grid-column-end: 21;
}

.gcg-12-1 {
  grid-column-start: 12;
  grid-column-end: 1;
}

.gcg-12-2 {
  grid-column-start: 12;
  grid-column-end: 2;
}

.gcg-12-3 {
  grid-column-start: 12;
  grid-column-end: 3;
}

.gcg-12-4 {
  grid-column-start: 12;
  grid-column-end: 4;
}

.gcg-12-5 {
  grid-column-start: 12;
  grid-column-end: 5;
}

.gcg-12-6 {
  grid-column-start: 12;
  grid-column-end: 6;
}

.gcg-12-7 {
  grid-column-start: 12;
  grid-column-end: 7;
}

.gcg-12-8 {
  grid-column-start: 12;
  grid-column-end: 8;
}

.gcg-12-9 {
  grid-column-start: 12;
  grid-column-end: 9;
}

.gcg-12-10 {
  grid-column-start: 12;
  grid-column-end: 10;
}

.gcg-12-11 {
  grid-column-start: 12;
  grid-column-end: 11;
}

.gcg-12-12 {
  grid-column-start: 12;
  grid-column-end: 12;
}

.gcg-12-13 {
  grid-column-start: 12;
  grid-column-end: 13;
}

.gcg-12-14 {
  grid-column-start: 12;
  grid-column-end: 14;
}

.gcg-12-15 {
  grid-column-start: 12;
  grid-column-end: 15;
}

.gcg-12-16 {
  grid-column-start: 12;
  grid-column-end: 16;
}

.gcg-12-17 {
  grid-column-start: 12;
  grid-column-end: 17;
}

.gcg-12-18 {
  grid-column-start: 12;
  grid-column-end: 18;
}

.gcg-12-19 {
  grid-column-start: 12;
  grid-column-end: 19;
}

.gcg-12-20 {
  grid-column-start: 12;
  grid-column-end: 20;
}

.gcg-12-21 {
  grid-column-start: 12;
  grid-column-end: 21;
}

.gcg-13-1 {
  grid-column-start: 13;
  grid-column-end: 1;
}

.gcg-13-2 {
  grid-column-start: 13;
  grid-column-end: 2;
}

.gcg-13-3 {
  grid-column-start: 13;
  grid-column-end: 3;
}

.gcg-13-4 {
  grid-column-start: 13;
  grid-column-end: 4;
}

.gcg-13-5 {
  grid-column-start: 13;
  grid-column-end: 5;
}

.gcg-13-6 {
  grid-column-start: 13;
  grid-column-end: 6;
}

.gcg-13-7 {
  grid-column-start: 13;
  grid-column-end: 7;
}

.gcg-13-8 {
  grid-column-start: 13;
  grid-column-end: 8;
}

.gcg-13-9 {
  grid-column-start: 13;
  grid-column-end: 9;
}

.gcg-13-10 {
  grid-column-start: 13;
  grid-column-end: 10;
}

.gcg-13-11 {
  grid-column-start: 13;
  grid-column-end: 11;
}

.gcg-13-12 {
  grid-column-start: 13;
  grid-column-end: 12;
}

.gcg-13-13 {
  grid-column-start: 13;
  grid-column-end: 13;
}

.gcg-13-14 {
  grid-column-start: 13;
  grid-column-end: 14;
}

.gcg-13-15 {
  grid-column-start: 13;
  grid-column-end: 15;
}

.gcg-13-16 {
  grid-column-start: 13;
  grid-column-end: 16;
}

.gcg-13-17 {
  grid-column-start: 13;
  grid-column-end: 17;
}

.gcg-13-18 {
  grid-column-start: 13;
  grid-column-end: 18;
}

.gcg-13-19 {
  grid-column-start: 13;
  grid-column-end: 19;
}

.gcg-13-20 {
  grid-column-start: 13;
  grid-column-end: 20;
}

.gcg-13-21 {
  grid-column-start: 13;
  grid-column-end: 21;
}

.gcg-14-1 {
  grid-column-start: 14;
  grid-column-end: 1;
}

.gcg-14-2 {
  grid-column-start: 14;
  grid-column-end: 2;
}

.gcg-14-3 {
  grid-column-start: 14;
  grid-column-end: 3;
}

.gcg-14-4 {
  grid-column-start: 14;
  grid-column-end: 4;
}

.gcg-14-5 {
  grid-column-start: 14;
  grid-column-end: 5;
}

.gcg-14-6 {
  grid-column-start: 14;
  grid-column-end: 6;
}

.gcg-14-7 {
  grid-column-start: 14;
  grid-column-end: 7;
}

.gcg-14-8 {
  grid-column-start: 14;
  grid-column-end: 8;
}

.gcg-14-9 {
  grid-column-start: 14;
  grid-column-end: 9;
}

.gcg-14-10 {
  grid-column-start: 14;
  grid-column-end: 10;
}

.gcg-14-11 {
  grid-column-start: 14;
  grid-column-end: 11;
}

.gcg-14-12 {
  grid-column-start: 14;
  grid-column-end: 12;
}

.gcg-14-13 {
  grid-column-start: 14;
  grid-column-end: 13;
}

.gcg-14-14 {
  grid-column-start: 14;
  grid-column-end: 14;
}

.gcg-14-15 {
  grid-column-start: 14;
  grid-column-end: 15;
}

.gcg-14-16 {
  grid-column-start: 14;
  grid-column-end: 16;
}

.gcg-14-17 {
  grid-column-start: 14;
  grid-column-end: 17;
}

.gcg-14-18 {
  grid-column-start: 14;
  grid-column-end: 18;
}

.gcg-14-19 {
  grid-column-start: 14;
  grid-column-end: 19;
}

.gcg-14-20 {
  grid-column-start: 14;
  grid-column-end: 20;
}

.gcg-14-21 {
  grid-column-start: 14;
  grid-column-end: 21;
}

.gcg-15-1 {
  grid-column-start: 15;
  grid-column-end: 1;
}

.gcg-15-2 {
  grid-column-start: 15;
  grid-column-end: 2;
}

.gcg-15-3 {
  grid-column-start: 15;
  grid-column-end: 3;
}

.gcg-15-4 {
  grid-column-start: 15;
  grid-column-end: 4;
}

.gcg-15-5 {
  grid-column-start: 15;
  grid-column-end: 5;
}

.gcg-15-6 {
  grid-column-start: 15;
  grid-column-end: 6;
}

.gcg-15-7 {
  grid-column-start: 15;
  grid-column-end: 7;
}

.gcg-15-8 {
  grid-column-start: 15;
  grid-column-end: 8;
}

.gcg-15-9 {
  grid-column-start: 15;
  grid-column-end: 9;
}

.gcg-15-10 {
  grid-column-start: 15;
  grid-column-end: 10;
}

.gcg-15-11 {
  grid-column-start: 15;
  grid-column-end: 11;
}

.gcg-15-12 {
  grid-column-start: 15;
  grid-column-end: 12;
}

.gcg-15-13 {
  grid-column-start: 15;
  grid-column-end: 13;
}

.gcg-15-14 {
  grid-column-start: 15;
  grid-column-end: 14;
}

.gcg-15-15 {
  grid-column-start: 15;
  grid-column-end: 15;
}

.gcg-15-16 {
  grid-column-start: 15;
  grid-column-end: 16;
}

.gcg-15-17 {
  grid-column-start: 15;
  grid-column-end: 17;
}

.gcg-15-18 {
  grid-column-start: 15;
  grid-column-end: 18;
}

.gcg-15-19 {
  grid-column-start: 15;
  grid-column-end: 19;
}

.gcg-15-20 {
  grid-column-start: 15;
  grid-column-end: 20;
}

.gcg-15-21 {
  grid-column-start: 15;
  grid-column-end: 21;
}

.gcg-16-1 {
  grid-column-start: 16;
  grid-column-end: 1;
}

.gcg-16-2 {
  grid-column-start: 16;
  grid-column-end: 2;
}

.gcg-16-3 {
  grid-column-start: 16;
  grid-column-end: 3;
}

.gcg-16-4 {
  grid-column-start: 16;
  grid-column-end: 4;
}

.gcg-16-5 {
  grid-column-start: 16;
  grid-column-end: 5;
}

.gcg-16-6 {
  grid-column-start: 16;
  grid-column-end: 6;
}

.gcg-16-7 {
  grid-column-start: 16;
  grid-column-end: 7;
}

.gcg-16-8 {
  grid-column-start: 16;
  grid-column-end: 8;
}

.gcg-16-9 {
  grid-column-start: 16;
  grid-column-end: 9;
}

.gcg-16-10 {
  grid-column-start: 16;
  grid-column-end: 10;
}

.gcg-16-11 {
  grid-column-start: 16;
  grid-column-end: 11;
}

.gcg-16-12 {
  grid-column-start: 16;
  grid-column-end: 12;
}

.gcg-16-13 {
  grid-column-start: 16;
  grid-column-end: 13;
}

.gcg-16-14 {
  grid-column-start: 16;
  grid-column-end: 14;
}

.gcg-16-15 {
  grid-column-start: 16;
  grid-column-end: 15;
}

.gcg-16-16 {
  grid-column-start: 16;
  grid-column-end: 16;
}

.gcg-16-17 {
  grid-column-start: 16;
  grid-column-end: 17;
}

.gcg-16-18 {
  grid-column-start: 16;
  grid-column-end: 18;
}

.gcg-16-19 {
  grid-column-start: 16;
  grid-column-end: 19;
}

.gcg-16-20 {
  grid-column-start: 16;
  grid-column-end: 20;
}

.gcg-16-21 {
  grid-column-start: 16;
  grid-column-end: 21;
}

.gcg-17-1 {
  grid-column-start: 17;
  grid-column-end: 1;
}

.gcg-17-2 {
  grid-column-start: 17;
  grid-column-end: 2;
}

.gcg-17-3 {
  grid-column-start: 17;
  grid-column-end: 3;
}

.gcg-17-4 {
  grid-column-start: 17;
  grid-column-end: 4;
}

.gcg-17-5 {
  grid-column-start: 17;
  grid-column-end: 5;
}

.gcg-17-6 {
  grid-column-start: 17;
  grid-column-end: 6;
}

.gcg-17-7 {
  grid-column-start: 17;
  grid-column-end: 7;
}

.gcg-17-8 {
  grid-column-start: 17;
  grid-column-end: 8;
}

.gcg-17-9 {
  grid-column-start: 17;
  grid-column-end: 9;
}

.gcg-17-10 {
  grid-column-start: 17;
  grid-column-end: 10;
}

.gcg-17-11 {
  grid-column-start: 17;
  grid-column-end: 11;
}

.gcg-17-12 {
  grid-column-start: 17;
  grid-column-end: 12;
}

.gcg-17-13 {
  grid-column-start: 17;
  grid-column-end: 13;
}

.gcg-17-14 {
  grid-column-start: 17;
  grid-column-end: 14;
}

.gcg-17-15 {
  grid-column-start: 17;
  grid-column-end: 15;
}

.gcg-17-16 {
  grid-column-start: 17;
  grid-column-end: 16;
}

.gcg-17-17 {
  grid-column-start: 17;
  grid-column-end: 17;
}

.gcg-17-18 {
  grid-column-start: 17;
  grid-column-end: 18;
}

.gcg-17-19 {
  grid-column-start: 17;
  grid-column-end: 19;
}

.gcg-17-20 {
  grid-column-start: 17;
  grid-column-end: 20;
}

.gcg-17-21 {
  grid-column-start: 17;
  grid-column-end: 21;
}

.gcg-18-1 {
  grid-column-start: 18;
  grid-column-end: 1;
}

.gcg-18-2 {
  grid-column-start: 18;
  grid-column-end: 2;
}

.gcg-18-3 {
  grid-column-start: 18;
  grid-column-end: 3;
}

.gcg-18-4 {
  grid-column-start: 18;
  grid-column-end: 4;
}

.gcg-18-5 {
  grid-column-start: 18;
  grid-column-end: 5;
}

.gcg-18-6 {
  grid-column-start: 18;
  grid-column-end: 6;
}

.gcg-18-7 {
  grid-column-start: 18;
  grid-column-end: 7;
}

.gcg-18-8 {
  grid-column-start: 18;
  grid-column-end: 8;
}

.gcg-18-9 {
  grid-column-start: 18;
  grid-column-end: 9;
}

.gcg-18-10 {
  grid-column-start: 18;
  grid-column-end: 10;
}

.gcg-18-11 {
  grid-column-start: 18;
  grid-column-end: 11;
}

.gcg-18-12 {
  grid-column-start: 18;
  grid-column-end: 12;
}

.gcg-18-13 {
  grid-column-start: 18;
  grid-column-end: 13;
}

.gcg-18-14 {
  grid-column-start: 18;
  grid-column-end: 14;
}

.gcg-18-15 {
  grid-column-start: 18;
  grid-column-end: 15;
}

.gcg-18-16 {
  grid-column-start: 18;
  grid-column-end: 16;
}

.gcg-18-17 {
  grid-column-start: 18;
  grid-column-end: 17;
}

.gcg-18-18 {
  grid-column-start: 18;
  grid-column-end: 18;
}

.gcg-18-19 {
  grid-column-start: 18;
  grid-column-end: 19;
}

.gcg-18-20 {
  grid-column-start: 18;
  grid-column-end: 20;
}

.gcg-18-21 {
  grid-column-start: 18;
  grid-column-end: 21;
}

.gcg-19-1 {
  grid-column-start: 19;
  grid-column-end: 1;
}

.gcg-19-2 {
  grid-column-start: 19;
  grid-column-end: 2;
}

.gcg-19-3 {
  grid-column-start: 19;
  grid-column-end: 3;
}

.gcg-19-4 {
  grid-column-start: 19;
  grid-column-end: 4;
}

.gcg-19-5 {
  grid-column-start: 19;
  grid-column-end: 5;
}

.gcg-19-6 {
  grid-column-start: 19;
  grid-column-end: 6;
}

.gcg-19-7 {
  grid-column-start: 19;
  grid-column-end: 7;
}

.gcg-19-8 {
  grid-column-start: 19;
  grid-column-end: 8;
}

.gcg-19-9 {
  grid-column-start: 19;
  grid-column-end: 9;
}

.gcg-19-10 {
  grid-column-start: 19;
  grid-column-end: 10;
}

.gcg-19-11 {
  grid-column-start: 19;
  grid-column-end: 11;
}

.gcg-19-12 {
  grid-column-start: 19;
  grid-column-end: 12;
}

.gcg-19-13 {
  grid-column-start: 19;
  grid-column-end: 13;
}

.gcg-19-14 {
  grid-column-start: 19;
  grid-column-end: 14;
}

.gcg-19-15 {
  grid-column-start: 19;
  grid-column-end: 15;
}

.gcg-19-16 {
  grid-column-start: 19;
  grid-column-end: 16;
}

.gcg-19-17 {
  grid-column-start: 19;
  grid-column-end: 17;
}

.gcg-19-18 {
  grid-column-start: 19;
  grid-column-end: 18;
}

.gcg-19-19 {
  grid-column-start: 19;
  grid-column-end: 19;
}

.gcg-19-20 {
  grid-column-start: 19;
  grid-column-end: 20;
}

.gcg-19-21 {
  grid-column-start: 19;
  grid-column-end: 21;
}

.gcg-20-1 {
  grid-column-start: 20;
  grid-column-end: 1;
}

.gcg-20-2 {
  grid-column-start: 20;
  grid-column-end: 2;
}

.gcg-20-3 {
  grid-column-start: 20;
  grid-column-end: 3;
}

.gcg-20-4 {
  grid-column-start: 20;
  grid-column-end: 4;
}

.gcg-20-5 {
  grid-column-start: 20;
  grid-column-end: 5;
}

.gcg-20-6 {
  grid-column-start: 20;
  grid-column-end: 6;
}

.gcg-20-7 {
  grid-column-start: 20;
  grid-column-end: 7;
}

.gcg-20-8 {
  grid-column-start: 20;
  grid-column-end: 8;
}

.gcg-20-9 {
  grid-column-start: 20;
  grid-column-end: 9;
}

.gcg-20-10 {
  grid-column-start: 20;
  grid-column-end: 10;
}

.gcg-20-11 {
  grid-column-start: 20;
  grid-column-end: 11;
}

.gcg-20-12 {
  grid-column-start: 20;
  grid-column-end: 12;
}

.gcg-20-13 {
  grid-column-start: 20;
  grid-column-end: 13;
}

.gcg-20-14 {
  grid-column-start: 20;
  grid-column-end: 14;
}

.gcg-20-15 {
  grid-column-start: 20;
  grid-column-end: 15;
}

.gcg-20-16 {
  grid-column-start: 20;
  grid-column-end: 16;
}

.gcg-20-17 {
  grid-column-start: 20;
  grid-column-end: 17;
}

.gcg-20-18 {
  grid-column-start: 20;
  grid-column-end: 18;
}

.gcg-20-19 {
  grid-column-start: 20;
  grid-column-end: 19;
}

.gcg-20-20 {
  grid-column-start: 20;
  grid-column-end: 20;
}

.gcg-20-21 {
  grid-column-start: 20;
  grid-column-end: 21;
}

.gcg-21-1 {
  grid-column-start: 21;
  grid-column-end: 1;
}

.gcg-21-2 {
  grid-column-start: 21;
  grid-column-end: 2;
}

.gcg-21-3 {
  grid-column-start: 21;
  grid-column-end: 3;
}

.gcg-21-4 {
  grid-column-start: 21;
  grid-column-end: 4;
}

.gcg-21-5 {
  grid-column-start: 21;
  grid-column-end: 5;
}

.gcg-21-6 {
  grid-column-start: 21;
  grid-column-end: 6;
}

.gcg-21-7 {
  grid-column-start: 21;
  grid-column-end: 7;
}

.gcg-21-8 {
  grid-column-start: 21;
  grid-column-end: 8;
}

.gcg-21-9 {
  grid-column-start: 21;
  grid-column-end: 9;
}

.gcg-21-10 {
  grid-column-start: 21;
  grid-column-end: 10;
}

.gcg-21-11 {
  grid-column-start: 21;
  grid-column-end: 11;
}

.gcg-21-12 {
  grid-column-start: 21;
  grid-column-end: 12;
}

.gcg-21-13 {
  grid-column-start: 21;
  grid-column-end: 13;
}

.gcg-21-14 {
  grid-column-start: 21;
  grid-column-end: 14;
}

.gcg-21-15 {
  grid-column-start: 21;
  grid-column-end: 15;
}

.gcg-21-16 {
  grid-column-start: 21;
  grid-column-end: 16;
}

.gcg-21-17 {
  grid-column-start: 21;
  grid-column-end: 17;
}

.gcg-21-18 {
  grid-column-start: 21;
  grid-column-end: 18;
}

.gcg-21-19 {
  grid-column-start: 21;
  grid-column-end: 19;
}

.gcg-21-20 {
  grid-column-start: 21;
  grid-column-end: 20;
}

.gcg-21-21 {
  grid-column-start: 21;
  grid-column-end: 21;
}

.m-1 {
  margin: calc(var(--margin)*1);
}

.mt-1 {
  margin-top: calc(var(--margin)*1);
}

.mb-1 {
  margin-bottom: calc(var(--margin)*1);
}

.mr-1 {
  margin-right: calc(var(--margin)*1);
}

.ml-1 {
  margin-left: calc(var(--margin)*1);
}

.mx-1 {
  margin-right: calc(var(--margin)*1);
  margin-left: calc(var(--margin)*1);
}

.my-1 {
  margin-top: calc(var(--margin)*1);
  margin-bottom: calc(var(--margin)*1);
}

.nmt-1 {
  margin-top: calc(var(--margin)*1*-1);
}
.nmb-1 {
  margin-bottom: calc(var(--margin)*1*-1);
}
.nmr-1 {
  margin-right: calc(var(--margin)*1*-1);
}
.nml-1 {
  margin-left: calc(var(--margin)*1*-1);
}

.m-2 {
  margin: calc(var(--margin)*2);
}

.mt-2 {
  margin-top: calc(var(--margin)*2);
}

.mb-2 {
  margin-bottom: calc(var(--margin)*2);
}

.mr-2 {
  margin-right: calc(var(--margin)*2);
}

.ml-2 {
  margin-left: calc(var(--margin)*2);
}

.mx-2 {
  margin-right: calc(var(--margin)*2);
  margin-left: calc(var(--margin)*2);
}

.my-2 {
  margin-top: calc(var(--margin)*2);
  margin-bottom: calc(var(--margin)*2);
}

.nmt-2 {
  margin-top: calc(var(--margin)*2*-1);
}
.nmb-2 {
  margin-bottom: calc(var(--margin)*2*-1);
}
.nmr-2 {
  margin-right: calc(var(--margin)*2*-1);
}
.nml-2 {
  margin-left: calc(var(--margin)*2*-1);
}

.m-3 {
  margin: calc(var(--margin)*3);
}

.mt-3 {
  margin-top: calc(var(--margin)*3);
}

.mb-3 {
  margin-bottom: calc(var(--margin)*3);
}

.mr-3 {
  margin-right: calc(var(--margin)*3);
}

.ml-3 {
  margin-left: calc(var(--margin)*3);
}

.mx-3 {
  margin-right: calc(var(--margin)*3);
  margin-left: calc(var(--margin)*3);
}

.my-3 {
  margin-top: calc(var(--margin)*3);
  margin-bottom: calc(var(--margin)*3);
}

.nmt-3 {
  margin-top: calc(var(--margin)*3*-1);
}
.nmb-3 {
  margin-bottom: calc(var(--margin)*3*-1);
}
.nmr-3 {
  margin-right: calc(var(--margin)*3*-1);
}
.nml-3 {
  margin-left: calc(var(--margin)*3*-1);
}

.m-4 {
  margin: calc(var(--margin)*4);
}

.mt-4 {
  margin-top: calc(var(--margin)*4);
}

.mb-4 {
  margin-bottom: calc(var(--margin)*4);
}

.mr-4 {
  margin-right: calc(var(--margin)*4);
}

.ml-4 {
  margin-left: calc(var(--margin)*4);
}

.mx-4 {
  margin-right: calc(var(--margin)*4);
  margin-left: calc(var(--margin)*4);
}

.my-4 {
  margin-top: calc(var(--margin)*4);
  margin-bottom: calc(var(--margin)*4);
}

.nmt-4 {
  margin-top: calc(var(--margin)*4*-1);
}
.nmb-4 {
  margin-bottom: calc(var(--margin)*4*-1);
}
.nmr-4 {
  margin-right: calc(var(--margin)*4*-1);
}
.nml-4 {
  margin-left: calc(var(--margin)*4*-1);
}

.m-5 {
  margin: calc(var(--margin)*5);
}

.mt-5 {
  margin-top: calc(var(--margin)*5);
}

.mb-5 {
  margin-bottom: calc(var(--margin)*5);
}

.mr-5 {
  margin-right: calc(var(--margin)*5);
}

.ml-5 {
  margin-left: calc(var(--margin)*5);
}

.mx-5 {
  margin-right: calc(var(--margin)*5);
  margin-left: calc(var(--margin)*5);
}

.my-5 {
  margin-top: calc(var(--margin)*5);
  margin-bottom: calc(var(--margin)*5);
}

.nmt-5 {
  margin-top: calc(var(--margin)*5*-1);
}
.nmb-5 {
  margin-bottom: calc(var(--margin)*5*-1);
}
.nmr-5 {
  margin-right: calc(var(--margin)*5*-1);
}
.nml-5 {
  margin-left: calc(var(--margin)*5*-1);
}

.m-6 {
  margin: calc(var(--margin)*6);
}

.mt-6 {
  margin-top: calc(var(--margin)*6);
}

.mb-6 {
  margin-bottom: calc(var(--margin)*6);
}

.mr-6 {
  margin-right: calc(var(--margin)*6);
}

.ml-6 {
  margin-left: calc(var(--margin)*6);
}

.mx-6 {
  margin-right: calc(var(--margin)*6);
  margin-left: calc(var(--margin)*6);
}

.my-6 {
  margin-top: calc(var(--margin)*6);
  margin-bottom: calc(var(--margin)*6);
}

.nmt-6 {
  margin-top: calc(var(--margin)*6*-1);
}
.nmb-6 {
  margin-bottom: calc(var(--margin)*6*-1);
}
.nmr-6 {
  margin-right: calc(var(--margin)*6*-1);
}
.nml-6 {
  margin-left: calc(var(--margin)*6*-1);
}

.m-7 {
  margin: calc(var(--margin)*7);
}

.mt-7 {
  margin-top: calc(var(--margin)*7);
}

.mb-7 {
  margin-bottom: calc(var(--margin)*7);
}

.mr-7 {
  margin-right: calc(var(--margin)*7);
}

.ml-7 {
  margin-left: calc(var(--margin)*7);
}

.mx-7 {
  margin-right: calc(var(--margin)*7);
  margin-left: calc(var(--margin)*7);
}

.my-7 {
  margin-top: calc(var(--margin)*7);
  margin-bottom: calc(var(--margin)*7);
}

.nmt-7 {
  margin-top: calc(var(--margin)*7*-1);
}
.nmb-7 {
  margin-bottom: calc(var(--margin)*7*-1);
}
.nmr-7 {
  margin-right: calc(var(--margin)*7*-1);
}
.nml-7 {
  margin-left: calc(var(--margin)*7*-1);
}

.m-8 {
  margin: calc(var(--margin)*8);
}

.mt-8 {
  margin-top: calc(var(--margin)*8);
}

.mb-8 {
  margin-bottom: calc(var(--margin)*8);
}

.mr-8 {
  margin-right: calc(var(--margin)*8);
}

.ml-8 {
  margin-left: calc(var(--margin)*8);
}

.mx-8 {
  margin-right: calc(var(--margin)*8);
  margin-left: calc(var(--margin)*8);
}

.my-8 {
  margin-top: calc(var(--margin)*8);
  margin-bottom: calc(var(--margin)*8);
}

.nmt-8 {
  margin-top: calc(var(--margin)*8*-1);
}
.nmb-8 {
  margin-bottom: calc(var(--margin)*8*-1);
}
.nmr-8 {
  margin-right: calc(var(--margin)*8*-1);
}
.nml-8 {
  margin-left: calc(var(--margin)*8*-1);
}

.m-9 {
  margin: calc(var(--margin)*9);
}

.mt-9 {
  margin-top: calc(var(--margin)*9);
}

.mb-9 {
  margin-bottom: calc(var(--margin)*9);
}

.mr-9 {
  margin-right: calc(var(--margin)*9);
}

.ml-9 {
  margin-left: calc(var(--margin)*9);
}

.mx-9 {
  margin-right: calc(var(--margin)*9);
  margin-left: calc(var(--margin)*9);
}

.my-9 {
  margin-top: calc(var(--margin)*9);
  margin-bottom: calc(var(--margin)*9);
}

.nmt-9 {
  margin-top: calc(var(--margin)*9*-1);
}
.nmb-9 {
  margin-bottom: calc(var(--margin)*9*-1);
}
.nmr-9 {
  margin-right: calc(var(--margin)*9*-1);
}
.nml-9 {
  margin-left: calc(var(--margin)*9*-1);
}

.m-10 {
  margin: calc(var(--margin)*10);
}

.mt-10 {
  margin-top: calc(var(--margin)*10);
}

.mb-10 {
  margin-bottom: calc(var(--margin)*10);
}

.mr-10 {
  margin-right: calc(var(--margin)*10);
}

.ml-10 {
  margin-left: calc(var(--margin)*10);
}

.mx-10 {
  margin-right: calc(var(--margin)*10);
  margin-left: calc(var(--margin)*10);
}

.my-10 {
  margin-top: calc(var(--margin)*10);
  margin-bottom: calc(var(--margin)*10);
}

.nmt-10 {
  margin-top: calc(var(--margin)*10*-1);
}
.nmb-10 {
  margin-bottom: calc(var(--margin)*10*-1);
}
.nmr-10 {
  margin-right: calc(var(--margin)*10*-1);
}
.nml-10 {
  margin-left: calc(var(--margin)*10*-1);
}

/*# sourceMappingURL=style.6b54f5b7.css.map */